# Maven
/target/
**/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
dependency-reduced-pom.xml

# Logs / crash dumps
*.log
hs_err_pid*
replay_pid*

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# JavaScript / TypeScript
**/node_modules/
**/dist/
*.tsbuildinfo
npm-debug.log*
